.courseCard__container {
    display:flex;
    justify-content:space-between;
    align-items: center;
    border: solid 2px green;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
}

.courseCard__first-part {
    width: 70%;
    font-size: small;
    padding-right: 20px;
    padding-left: 10px;
}

.h1 {
margin-top: 0;
margin-bottom: 5px;
}

.courseCard__second-part {
    width: 30%;
    font-size: 15px;
    line-height: 25px;
}

.authors_line {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.courseCard__button {
    text-align: center;
}
