.createCourse__courseAuthorsBlock {
    margin-bottom: 15px;
}

.createCourse__authorBlock {
    display: flex;
    justify-content:center;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

.createCourse__authorName, .createCourse__authorButton  {
    width: 50%;
}

.createCourse__authorsMessageEmpty {
    font-size: 15px;
}
